.change-password-form {
    padding: 20px; // Espaçamento interno

    ion-item {
        margin-bottom: 15px; // Espaço entre os itens do formulário
        background-color: #2e2e2e; // Fundo dos itens
        border-radius: 8px; // Arredondar bordas

        ion-label {
            color: #b22222; // Cor do rótulo
        }

        ion-input {
            --background: transparent; // Fundo transparente para os inputs
            --color: white; // Texto branco nos inputs
            --placeholder-color: #ccc; // Cor do placeholder

            &::placeholder {
                color: #ccc; // Cor do texto do placeholder
            }
        }
    }

    .submit-button {
        margin-top: 20px; // Espaço acima do botão
        background-color: #b22222; // Cor do botão
        color: white; // Texto branco no botão

        &:hover {
            background-color: #a51c1c; // Cor ao passar o mouse
        }
    }
}

ion-header {
    background-color: #2e2e2e; // Fundo do cabeçalho
    color: white; // Texto branco no cabeçalho
}

ion-toolbar {
    --background: #2e2e2e; // Fundo da toolbar
}