<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="changePassword()" class="change-password-form"> <!-- Adicionei a classe -->
    <ion-item>
      <ion-label position="floating">Senha Atual</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirme a Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="submit-button">Alterar Senha</ion-button>
  </form>
</ion-content>