.user-info-card {
    margin-bottom: 20px;
  }
  
  .user-details {
    padding-left: 15px;
  }
  
  .action-buttons {
    margin-top: 20px;
  }
  
  ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  ion-card-content {
    padding-top: 10px;
  }
  