<ion-item lines="none">
  <ion-label position="floating">Nova Senha</ion-label>
  <ion-input
    [(ngModel)]="newPassword"
    type="password"
    placeholder="Digite sua nova senha"
    required>
  </ion-input>
</ion-item>

<ion-item lines="none">
  <ion-label position="floating">Confirme a Senha</ion-label>
  <ion-input
    [(ngModel)]="confirmPassword"
    type="password"
    placeholder="Confirme sua nova senha"
    required>
  </ion-input>
</ion-item>

<ion-button expand="full" color="primary" (click)="onChangePassword()" class="ion-margin-top">
  Alterar
</ion-button>
